* {
	font-family: 'Lobster', cursive;
	font-weight: 100;
	font-size: 40px;

  }


  div {
  	width: 150px;
  	height: 150px;
  	margin: 20px;
  	border: 10px solid red;
  	background: yellow;
  	display: inline;
  }
